{% extends 'base.html' %}

{% block head %}
    <title>List of movies</title>
{% endblock %}

{% block body %}
    <h1 class="titleText">LIST OF ALL MOVIES I'VE WATCHED</h1>

    <table class="table table-hover table-bordered table-dark myTable">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Year</th>
                <th scope="col">Genre</th>
                <th scope="col">Director</th>
                <th scope="col">Actions</th>
            </tr>

            <tbody>
                {% for movie in movies %}
                    <tr>
                        <td> {{ movie.title }} </td>
                        <td> {{ movie.year }} </td>
                        <td> {{ movie.genre }} </td>
                        <td> {{ movie.director }} </td>
                        <td>
                            <a href="/update/{{ movie.id }}" class="anchorStyled">Update</a>
                            <a href="/delete/{{ movie.id }}" class="anchorStyled">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                <td colspan="5"> <a href="{{ url_for('add_movie') }}" class="anchorStyled"> Add a movie</a> </td>
            </tbody>

        </thead>

    </table>


    
    <a href="/"><button class="btt">Get back to homepage</button></a>

{% endblock %}