{% extends 'base.html' %}

{% block head %}
    <title>Updating {{ movie.title }} </title>
{% endblock %}

{% block body %}
    <h1 class="titleText">UPDATE A MOVIE</h1>

    <div class="formContainer">
        <form action="/update/{{ movie.id }}" method="POST" class="uniqueForm">
            <label for="title">Title</label>
            <input type="text" name="title" required value="{{ movie.title }}">
            
            <label for="year">Year</label>
            <input type="number" name="year" required value="{{ movie.year }}">

            <label for="director">Director</label>
            <input type="text" name="director" value="{{ movie.director }}">

            <label for="Genre">Genre</label>
            <select name="genre" id="genre" required>
                <option value="Drama">Drama</option>
                <option value="Crime">Crime</option>
                <option value="Romance">Romance</option>
                <option value="Comedy">Comedy</option>
                <option value="Western">Western</option>
                <option value="Thriller">Thriller</option>
                <option value="Action">Action</option>
                <option value="Horror">Horror</option>
                <option value="Science Fiction">Science Fiction</option>
                <Option value="Not specified">Other</Option>
            </select>

            <button type="submit" class="btt bttTwo">Update movie</button>
        </form>
    </div>

    <a href="{{ url_for('show_movies') }}"><button class="btt">Check all movies</button></a>
    <a href="/"><button class="btt">Get back to homepage</button></a>
{% endblock %}